*.iml
.kotlin
.gradle
.gradle-home/
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
.docs/

/core/data/src/commonMain/kotlin/com/graveyard/core/data/crypto/

# DSH 沙箱排查文件权限时产生的临时记录
/.acl-recovery/
